.form__button-container {
  margin-left: 900px;
  margin-top: 100px;
}

.form__button {
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  color: #2f80ed;
  background-color: white;
  border: 10px solid #2f80ed;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: transform 0.3s linear;
}

.form__button::after {
  content: " ";
  width: 50px;
  height: 100px;
  background-color: white;
  border: 10px solid #2f80ed;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10px;
  left: 50px;
  z-index: 2;
}

.form__button:hover::after {
  background-color:#2f80ed;
  transition: background-color 0.1s 0.3s linear;
}

.form__button::before {
  content: " ";
  width: 45px;
  height: 90px;
  background-color: transparent;
  border: 25px solid white;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  transition: transform 0.3s linear;
  transform-origin: center right;
}

.form__button:hover::before {
  transform: rotate(180deg);
}

.form__button:hover {
  background-color:#2f80ed;
  color: white;
  transition: background-color 0.1s 0.3s linear, color 0.1s 0.3s linear;
}

.form__button:active {
  transform: scale(1.1);
}
