.form__button {
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  color: #2f80ed;
  background-color:white;
  border: 4px solid #2f80ed;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  position: relative;
}

.form__button:hover {
  background-color:#2f80ed;
  color: white;
  transition: background-color 0.5s linear, color 0.3s linear;
}

.form__button:active {
  transform: scale(1.1);
}


