.form__button {
  box-sizing: content-box;
  width: 50px;
  height: 100px;
  background-color:white;
  border: 5px solid #2f80ed;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: color 1s;
}

.form__button::after {
  content: "";
  display: block;
  width: 50px;
  height: 100px;
  background-color:white;
  border: 5px solid #2f80ed;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -5px;
  left: 0;
  transition: transform 1s;
}

.form__button:hover::after {
  transform: rotate(180deg);
  transform-origin: center left;
}

.form__button::before {
  content: "";
  display: block;
  width: 102px;
  height: 102px;
  background-color:white;
  border-radius: 100px;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -1px;
  left: -51px;
  z-index: 1;
  transition: background-color 1s;
  transition-timing-function: steps(1, 100%);
}

.form__button:hover::before {
  background-color: #2f80ed;
}

.form__button-arrow {
  color: #2f80ed;
  font-size: 60px;
  position: absolute;
  top: -50px;
  left: -25px;
  z-index: 2;
  transition: color 2s steps(1, 100%);
}
