.form__text {
    width: 80%;
    margin: 30px;
    background-color:#f2f2f2;
    border: 1px solid #1f1f1f;
    border: 0;
    border-bottom: 1px solid #1f1f1f;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    outline: none;
}

.form__text:focus {
    border: 1px solid #2f80ed;
}

.form__text:hover {
    border: 1px solid #2f80ed;
}